<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div align="center">
    <h1>Users Manage</h1>
    {% if message %} {{message}} {% endif %}
    <form method="post">
      <input type="text" name="username" placeholder="username">
      <br />
      <input type="password" name="password" placeholder="password">
      <br />
      <input type="submit" value="Submit">
      <input type="reset" value="reset">
    </form>
  </div>
</body>
</html>